.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #01dfa5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.footer .footer_column {
  width: 33.3%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_column i {
  margin-right: 10px;
}
