.footer {
  width: 100%;
  bottom: 0;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 19px;
  color: white;
}

.footer .footer_column {
  width: 25%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer_column i {
  margin-right: 10px;
}
